# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# IntelliJ / VS Code
.idea/
*.iml
*.ipr
*.iws
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env & Secrets
application-local.yml
application-local.properties
.env
